:export {
  menuText: #333333;
  menuActiveText: #409eff;
  subMenuActiveText: #409eff;
  menuBg: #ffffff;
  menuHover: #F6F7FB;
  subMenuBg: #ffffff;
  subMenuHover: #F6F7FB;
  sideBarWidth: 180px;
  sidebarBgColor: #ffffff;
}
